* {
  box-sizing: border-box;
  font-family: 'Helvetica Neue', sans-serif
}

body {
  margin: 0
}

.jumbo-bg, .jumbo-fadeIn {
  font-size: 1.5em;
}

.jumbo-bg {
  background-image: url('https://picjumbo.imgix.net/HNCK3916.jpg?q=40&w=1650&sharp=30');
}

.jumbo-fadeUp {
  padding: 75px;

  h1, h2 {
    color: #F25C5E;
    font-weight: 700
  }

  p {
    line-height: 1.5
  }
}

.jumbo-fadeUp.left {
  padding-left: 0
}

.jumbo-fadeUp.right {
  padding-right: 0
}

.waves-graphic {
  width: 475px;
  height: 500px;
  border-radius: 10000px
}

.nav-item {
  color: white;
  font-size: 1em;
  letter-spacing: 2px;
  font-weight: 500;
}

.hover-row1 {
  width: 65%;
  padding-top: 180px;
}

.hover-row2 {
  width: 65%;
  padding-bottom: 180px;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 0.9em
}

.btn {
  background-color: red;
  letter-spacing: 1px;
  font-weight: 600;
  width: 250px;
  border-radius: 24px;
  border: none;
  color: #616161;
  font-size: 17 !important;
  line-height: 26px;
  padding: 10px 14px;
  text-align: center;
  text-decoration: none;
  vertical-align: bottom
}
