* {
  box-sizing: border-box;
  font-family: 'Helvetica Neue', sans-serif
}

body {
  margin: 0
}

.jumbo-fadeUp {
  font-size: 1.5em;
  padding-top: 111px;
  padding-bottom: 131px;
}

.jumbo-bg {
  background-image: url('https://picjumbo.imgix.net/HNCK3916.jpg?q=40&w=1650&sharp=30');
}

.jumbo-fadeUp {

  h1, h2 {
    color: #F25C5E;
    font-weight: 700
  }

  p {
    line-height: 1.5
  }
}

.jumbo-fadeIn {
  padding-top: 80px;
  padding-bottom: 111px;
  margin-bottom: 250px;
  font-size: 1.5em;

  h1, h2 {
    color: darken(#FFA566,10);
    font-weight: 700
  }

  p {
    line-height: 1.5
  }
}

.jumbo-fadeIn.fade-stagger {
  h1, h2 {
    color: #437f91;
  }
}



.jumbo-fadeUp.right {
  padding-right: 111px
}

.jumbo-fadeUp.left {
  padding-left: 111px
}

.jumbo-fadeUp.img {
  display: flex;
  justify-content: center;
  align-items: center;

  .waves-graphic {
    width: 300px;
    height: 300px
  }
}



.waves-graphic {
  width: 475px;
  height: 500px;
  border-radius: 10000px
}

.nav-item {
  color: white;
  font-size: 1em;
  letter-spacing: 2px;
  font-weight: 500;
}


.hover-row1 {
  width: 65%;
  padding-top: 180px;
}

.hover-row2 {
  width: 65%;
  padding-bottom: 180px;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 0.9em
}

.btn {
  background-color: #FFA566;
  letter-spacing: 1px;
  font-weight: 600;
  width: 250px;
  border-radius: 24px;
  border: none;
  color: white;
  font-size: 17px !important;
  line-height: 26px;
  padding: 10px 14px;
  text-align: center;
  text-decoration: none;
  vertical-align: bottom;
  transition: 0.3s;
  cursor: pointer
}

.btn:hover {
  background-color: darken(#FFA566,9)
}

.fade-stagger {
  background-color: #cbe8ed;
}

.btn.drawer-btn {
  background-color: #F25C5E;
  margin: 0px auto;
  display: block
}

.btn.drawer-btn:hover {
  background-color: darken(#F25C5E, 6);
}

.btn.nav-btn {
  display: block;
  margin: 50px auto 0;
  background-color: #f77c77
}

.btn.nav-btn:hover {
  background-color: darken(#f77c77,8)
}
